<%= form_for :deputation, url: deputations_path do |f| %>
  <p>
    <% items_array = AgendaItem.all.map { |item| ["#{item.identifier}: #{item.title}", item.id] } %>
    <%= f.label :agenda_item %><br />
    <%= f.select(:agenda_item_id) do %>
      <%= options_for_select(items_array.unshift(['', 0]) ) %>
    <% end %>
  </p>

  <p>
    <%= f.label :video_url %><br />
    <%= f.text_field :video_url %>
  </p>

  <% if current_user.anonymous? %>
    <p>You are not logged in</p>
    <!-- We'll put a contact details form here -->
  <% else %>
    <p>You are submitting a video as <%= current_user.name %>.</p>
    <p>Please ensure the following information is up-to-date.</p>
    <p><%= label_tag :mailing_address %> <%= text_field_tag :user_name, current_user.postal_address, disabled: true %></p>
    <p><%= label_tag :organization %> <%= text_field_tag :user_name, current_user.organization, disabled: true %></p>
    <p><%= label_tag :daytime_phone %> <%= text_field_tag :user_name, current_user.phone, disabled: true %></p>
  <% end %>

  <p>
    <%= f.submit %>
  </p>
<% end %>
