<%= form_for :deputation, url: deputations_path do |f| %>
  <p>
    <% items_array = AgendaItem.all.map { |item| ["#{item.identifier}: #{item.title}", item.id] } %>
    <%= f.label :agenda_item_id %>
    <%= f.select(:agenda_item_id, items_array, include_blank: true) %>
  </p>

  <p>
    <%= f.text_field :video_url, placeholder: "Link to video" %>
  </p>

  <hr />

  <%= fields_for @user do |user_form| %>
    <p>
      <%= user_form.label :name, "Your name" %>
      <%= user_form.text_field :name %>
    </p>

    <p>
      <%= user_form.label :postal_address, "Home address" %>
      <%= user_form.text_field :postal_address %>
    </p>

    <p>
      <%= user_form.label :organization, "Organization (optional)" %>
      <%= user_form.text_field :organization %>
    </p>

    <p>
      <%= user_form.label :phone, "Daytime phone (optional)" %>
      <%= user_form.text_field :phone %>
    </p>
  <% end %>
  <p>
    <%= f.submit "Submit", class: "btn btn-default" %>
  </p>
<% end %>
