<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><strong>CouncilSpeak Matchmaking</strong></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <% if current_user.anonymous? %>
        <%= form_tag logins_create_path, class: "navbar-form navbar-right" do %>
          <div class="form-group">
            <%= text_field_tag 'email', nil, placeholder: 'Email', required: true %>
            <span>
              <%= button_tag 'Login / Register', class: "btn btn-success" %>
            </span>
          </div>
        <% end %>
      <% else %>
        <%= form_tag sessions_destroy_path, method: :delete, class: "navbar-form navbar-right" do %>
          <div class="form-group">
            <span>
              <%= button_tag 'Logout', class: "btn btn-success" %>
            </span>
          </div>
        <% end %>
      <% end %>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
